
body { background:lime; }


/**
* pages
*/

#home { 
    display:block; /* don't hide */
}

.page {
    display:none; /* hidden initially */
    position:fixed;
    top:0; bottom:0;
    left:0; right:0;
    width:100%; height:100%;
    padding-top:3em; /* for nav */
    background:white;
    overflow:hidden;
}

/**
* iframe
*/

iframe { 
    background:#ccd; /* see something while loading */
    }


/**
* typography
*/

p { margin:1em; }


/**
* notice
*/

.notice { 
    position:fixed; 
    top:20%; left:0; right:0;
    padding:2em;
    color:white;
    background:rgba(0,0,0,0.5);
    text-align:center;
    }


/**
* nav
*/

header nav { 
   position:fixed; 
   top:0; left:0; right:0;
   background:#525;
   z-index:101; /* in front of pages */
}

header nav a {
   float:left;
   width:33%;
   padding:.5em 0;
   color:white;
   background:#525;
   text-align:center;
   text-decoration:none;
   border:4px solid transparent;
   border-width:4px 0;
}
    header nav a:first-child { width:34%; }


header nav a:hover { background:rgba(255,0,255,0.5); }

header nav a.active { border-bottom-color:rgba(255,0,255,0.8); }


/**
* feed
*/

.feed { 
    height:150px;
    overflow:auto;
    border:1px dotted #ddd;
    margin:1em; 
    }

.template {
    display:none;
}